body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header,
.hero-section {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 250px;
}

.header ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.header li {
  list-style: none;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/* hero section */
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 250px;
}

.hero-section img {
  width: 550px;
  height: 250px;
}

.hero-section h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 350px;
}

.hero-section p {
  max-width: 450px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section h1,
.hero-section p {
  margin: 0;
}

.hero-section button,
.call button {
  background-color: #3882f6;
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 34px;
  margin: 12px 0;
  border: #3882f6;
  border-radius: 10px;
}

/* information section */
.info {
  padding: 24px 400px;
}

.info h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 50px;
}

.container-card {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card p {
  max-width: 200px;
  text-align: center;
  color: #5c5d60;
  font-size: 19px;
}

/* quotes section */
.quotes {
  display: flex;
  flex-direction: column;
  padding: 100px 400px;
  background-color: #e5e7eb;
}

.quotes .content {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  max-width: 800px;
}

.quotes .credit {
  font-size: 32px;
  color: #1f2937;
  font-weight: 600;
  text-align: right;
}

/* call section */
.call {
  display: flex;
  justify-content: space-between;
  margin: 100px 250px;
  padding: 32px 150px;
  background-color: #3882f6;
}
